
BETTER_AUTH_SECRET=AbC123
BETTER_AUTH_URL=http://localhost:3001

DATABASE_API_KEY=sb_publishable_abcd_algo
DATABASE_PASS=COntrAseÑaSuPErSeGUrA
DATABASE_URL=postgresql://postgres.abc:COntrAseÑaSuPErSeGUrA@aws-0-us-west-2.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgres.abc:COntrAseÑaSuPErSeGUrA@aws-0-us-west-2.pooler.supabase.com:5432/postgres

GITHUB_CLIENT_ID=tu_client_id_aqui
GITHUB_CLIENT_SECRET=tu_client_secret_aqui